@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #0a89dd;
    --branco: #e9e9e9;
    --preto: #000000;
    --azul-degrade: linear-gradient(97.54deg, #0083e7 35.49%, #001aff 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --verde-degrade: linear-gradient(97.54deg, #637e66 35.49%, #e09018 165.37%);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}